h1 {
  font-family: cursive;
}

form {
  gap: 50px;
  padding: 20px;
  background: linear-gradient(to bottom, #0077be, #3b8df2);
  border-radius: 10px;
  display: flex;
  border: none;
  flex-direction: column;
  
}

input {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

input::placeholder{
  color:#fff;
}

button{
  gap: 50px;
  padding: 10px;
  background: linear-gradient(to bottom, #0077be, #3b8df2);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  
  

}